{% extends 'form.html' %} {% block formTitle %} Differentially Private Machine
Learning {% endblock %} {% block formFields %}
<section class="parameter-section" id="privacy-parameters">
  <header class="section-header">
    <h6>Privacy parameters</h6>
  </header>
  <div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="epsilon" class="input-group-text">Epsilon</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="epsilon"
            min="0"
            max="100"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        id="epsilon-range"
      />
    </div>
  </div>
</section>
<section class="parameter-section" id="learning-parameters">
  <header class="section-header">
    <h6>Learning Hyperparameters</h6>
  </header>
  <div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="lambda" class="input-group-text">Lambda</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="lambda"
            min="0"
            max="100"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        id="lambda-range"
      />
    </div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="degree" class="input-group-text">Degree</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="degree"
            min="0"
            max="100"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        id="degree-range"
      />
    </div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="epochs" class="input-group-text">Epochs</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="epochs"
            min="0"
            max="100"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        id="epochs-range"
      />
    </div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="alpha" class="input-group-text">Alpha</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="alpha"
            min="0"
            max="100"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        id="alpha-range"
      />
    </div>
  </div>
</section>
{% endblock %} {% block analysisScript %}
<script type="text/javascript">
  function Analysis3() {
    var xhttp = new XMLHttpRequest();
    var e = document.getElementById("epsilon").value;
    var lambda = document.getElementById("lambda").value;
    var degree = document.getElementById("degree").value;
    var epochs = document.getElementById("epochs").value;
    var alpha = document.getElementById("alpha").value;

    $(".data-graph")
      .addClass("visual-loading")
      .removeClass("visual-available");
    $("#Analyze-Button")
      .prop("disabled", true)
      .addClass("disabled");

    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        $("#data-histogram")
          .attr("src", this.responseText)
          .show();
        $(".data-graph")
          .addClass("visual-available")
          .removeClass("visual-loading");
        $("#Analyze-Button")
          .prop("disabled", false)
          .removeClass("disabled");
      }
    };
    xhttp.open(
      "GET",
      "/dpml_process?e=" +
        e +
        "&lambda=" +
        lambda +
        "&degree=" +
        degree +
        "&epochs=" +
        epochs +
        "&alpha=" +
        alpha,
      true
    );
    xhttp.send();
  }
</script>
{% endblock %}
