{% extends 'form.html' %} {% block formTitle %} Differentially Private Machine
Learning {% endblock %} {% block formFields %}

<section class="parameter-section" id="function-type">
  <header class="section-header">
    <h6>Select Mechanism</h6>
  </header>
    <p class="header-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi mollitia magnam omnis deserunt quaerat assumenda in repudiandae, libero ut repellendus aut neque!</p>
  <div class="d-flex justify-content-center functions tab-select">
    <label class="btn btn-outline" for="function-logreg" data-control="logreg"
      >Logistic Regression</label
    >
    <label
      class="btn btn-outline"
      for="function-NaiveBayes"
      data-control="NaiveBayes"
      >Naive Bayes</label
    >
    <label class="btn btn-outline" for="function-kMeans" data-control="kMeans"
      >k-means</label
    >
    <div class="d-none tab-radios">
      <input
        type="radio"
        class="tab-radio"
        value="logreg"
        id="function-logreg"
        name="function"
        required
      />
      <input
        type="radio"
        class="tab-radio"
        value="NaiveBayes"
        id="function-NaiveBayes"
        name="function"
        required
      />
      <input
        type="radio"
        value="kMeans"
        id="function-kMeans"
        name="function"
        class="tab-radio"
        required
      />
    </div>
  </div>
</section>
<section class="parameter-section" id="privacy-parameters">
  <header class="section-header">
    <h6>Privacy parameters</h6>
  </header>
  <div class="form-row align-items-center justify-content-around my-3">
    <div class="col-auto">
      <div class="input-group parameter-input">
        <div class="input-group-prepend">
          <label for="epsilon" class="input-group-text">Epsilon</label>
        </div>
        <input
          type="number"
          class="form-control"
          id="epsilon"
          name="Epsilon"
          min="0"
          max="100"
          step="0.001"
          placeholder="0"
          data-inclusive-min="False"
          required
          data-toggle="tooltip"
          data-trigger="manual"
          data-placement="top"
          data-title="Epsilon cannot be 0!"
        />
      </div>
    </div>
  </div>
</section>
<section class="parameter-section" id="learning-parameters">
  <header class="section-header">
    <h6>Learning Hyperparameters</h6>
  </header>
  <div>
    <div class="form-row my-4 justify-content-around">
      <div class="col-auto my-3" data-hide="NaiveBayes kMeans" data-help="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi mollitia magnam omnis deserunt quaerat assumenda in repudiandae">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="lambda" class="input-group-text">Lambda</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="lambda"
            name="Lambda"
            required
            placeholder="0"
            required
          />
        </div>
      </div>
      <div class="col-auto my-3" data-hide="NaiveBayes kMeans">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="epochs" class="input-group-text">Epochs</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="epochs"
            name="Epochs"
            required
            placeholder="0"
          />
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-auto my-3" data-hide="NaiveBayes logreg">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="clusters" class="input-group-text">Clusters</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="clusters"
            name="Clusters"
            required
            placeholder="0"
          />
        </div>
      </div>
    </div>
    <div class="form-row align-items-center my-3" data-hide="kMeans">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="split" class="input-group-text">Split Ratio</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="split"
            name="Split Ratio"
            min="0"
            max="1"
            placeholder="0"
            step="0.05"
            required
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="1"
        step="0.05"
        id="split-range"
        value="0"
      />
    </div>
  </div>
</section>
<section class="parameter-section" id="field-type">
  <header class="section-header">
    <h6>SeLect Features</h6>
  </header>
  <section class="sub-section" data-hide="kMeans">
    <div class="sub-section-header">Select Y</div>
    <div
      class="d-flex justify-content-center fields flex-wrap tab-select"
      data-childType="radio"
      data-type="y"
      data-linked="x"
      data-bounds="true"
    ></div>
  </section>
  <section class="sub-section">
    <div class="sub-section-header">Select X</div>
    <div
      class="d-flex justify-content-center fields flex-wrap tab-select"
      data-childType="checkbox"
      data-type="x"
      data-linked="y"
      data-bounds="true"
    ></div>
  </section>
</section>
<section
  class="parameter-section"
  id="bounds"
  data-hide="logreg"
  style="display: none;"
>
  <header class="section-header">
    <h6>Bounds</h6>
  </header>
  <div>
    <table class="table table-striped bounds-table">
      <thead>
        <tr>
          <th scope="col">Features</th>
          <th scope="col">Low</th>
          <th scope="col">High</th>
        </tr>
      </thead>
      <tbody>
        <tr id="bound-template" style="display: none;">
          <th scope="row" class="bound-feature"></th>
          <td class="input-bound-lower">
            <input
              type="number"
              class="form-control"
              id="lower-bound"
              value="0"
            />
          </td>
          <td class="input-bound-upper">
            <input
              type="number"
              class="form-control"
              id="upper-bound"
              value="0"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="form-row my-4 justify-content-around">
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="upper-bound" class="input-group-text">Upper</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="upper-bound"
            placeholder="0"
            required
          />
        </div>
      </div>
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="lower-bound" class="input-group-text">Lower</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="lower-bound"
            required
            placeholder="0"
          />
        </div>
      </div>
    </div> -->
  </div>
</section>
{% endblock %} {% block analysisScript %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script type="text/javascript">
  // let promise = Promise.resolve(); // Used to hold chain of typesetting calls

  // function weights(a) {
  //   promise = promise
  //     .then(() => {
  //       last = a.pop();
  //       if (a.length >= 10) {
  //         a = a.slice(0, 8);
  //         a.push("\\vdots");
  //       }
  //       t = "$$Weights=\\left[\\begin{array}{cc} ";
  //       $.each(a, function(index, value) {
  //         t += get_row(value) + " \\\\ ";
  //       });
  //       // t = t.substring(1, -2);
  //       t += get_row(last) + " \\end{array}\\right]$$";
  //       math = $(".weights");
  //       math.empty();
  //       a = $("<p/>");
  //       a.html(t).appendTo(math);
  //       return MathJax.typesetPromise();
  //     })
  //     .catch(err => console.log(err));
  //   return promise;
  // }
  function weights(result) {
    var theta = result["theta"];
    var x = result["x_list"];
    var y = result.hasOwnProperty("y_list") ? result["y_list"] : false;
    $("#weights-container.with-data").remove();
    var tbl = $("#weights-container.template").clone();
    tbl
      .removeClass("template")
      .addClass("with-data")
      .show();

    if (y) {
      $("<th/>")
        .attr("scope", "column")
        .text("")
        .appendTo(tbl.find(".weight-features"));
      tbl.find("caption").text("Centroids");
    } else {
      tbl.find("caption").text("Weights");
    }
    $.each(x, function(key, value) {
      $("<th/>")
        .append($("<div/>").append($("<span/>").text(value)))
        .attr("scope", "column")
        .appendTo(tbl.find(".weight-features"));
    });
    $.each(theta, function(key, value) {
      var row = $("<tr/>");
      if (y) {
        $("<th/>")
          .attr("scope", "row")
          .text(y[key])
          .appendTo(row);
      }
      $.each(value, function(k, val) {
        $("<td/>")
          .text(parseFloat(val).toPrecision(4))
          .appendTo(row);
      });
      row.appendTo(tbl.find("tbody"));
    });
    tbl.appendTo($(".weights"));
    //applying the rotated css
  }
  function Analysis3() {
    var xhttp = new XMLHttpRequest();
    var func = $("input[name='function']:checked").val();
    var e = document.getElementById("epsilon").value;
    var lambda = document.getElementById("lambda").value;
    var epochs = document.getElementById("epochs").value;
    var split = document.getElementById("split").value;
    var features = [];
    $("input[name='field']:checked").each(function() {
      features.push($(this).val());
    });
    features = features.join("+");
    var clusters = $("#clusters").val();
    var y = $("input[name='field-y']:checked").val();
    var x = [];
    $("input[name='field-x']:checked").each(function() {
      val = $(this).val();
      low = $("*[id='lower-bound-" + val + "']").val();
      high = $("*[id='upper-bound-" + val + "']").val();
      x.push([val, low, high]);
    });
    if (!form_validity($(".upload-form"))) {
      // $(".upload-form").addClass("was-validated");
      return;
    }
    $(".data-graph")
      .addClass("visual-loading")
      .removeClass("visual-available process-error");
    $("#Analyze-Button")
      .prop("disabled", true)
      .addClass("disabled");
    $("label[for='display-visual']").click();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          result = JSON.parse(this.responseText);
          if (result["error"]) {
            $(".data-graph").addClass("process-error");
            $(".graph-pre-caption .error-caption").text(
              "Oops! " + result["text"]
            );
          } else {
            if (result.hasOwnProperty("theta")) {
              weights(result);
              $(".weights").show();
            } else {
              $(".weights").hide();
            }
            if (result.hasOwnProperty("train_accuracy")) {
              $(".training-accuracy")
                .html(
                  "Training Accuracy: " +
                    parseFloat(result["train_accuracy"]).toFixed(3) +
                    "%"
                )
                .show();
              $(".test-accuracy")
                .text(
                  "Test Accuracy: " +
                    parseFloat(result["test_accuracy"]).toFixed(3) +
                    "%"
                )
                .show();
            } else {
              $(".training-accuracy")
                .html("")
                .hide();
              $(".test-accuracy")
                .text("")
                .hide();
            }
            if (result.hasOwnProperty("image")) {
              $(".displays.tab-select").css("display", "flex");
              $("#data-histogram")
                .attr("src", result["image"])
                .show();
            } else {
              $(".displays.tab-select").css("display", "none");
            }
            $(".data-graph").addClass("visual-available");
            $("label[for='display-weights']").click();
          }
        } else {
          $(".data-graph").addClass("process-error");
          $(".graph-pre-caption .error-caption").text(
            "Oops! Something went wrong on our side!"
          );
        }
        $(".data-graph").removeClass("visual-loading");
        $("#Analyze-Button")
          .prop("disabled", false)
          .removeClass("disabled");
      }
    };
    xhttp.open(
      "GET",
      "/" +
        func +
        "_process?e=" +
        e +
        "&lambda=" +
        lambda +
        "&epochs=" +
        epochs +
        "&clusters=" +
        clusters +
        "&split=" +
        split +
        "&y=" +
        y +
        "&x=" +
        JSON.stringify(x),
      true
    );
    xhttp.send();
  }
</script>
{% endblock %}
