{% extends 'form.html' %} {% block formTitle %} Differentially Private Machine
Learning {% endblock %} {% block formFields %}
<section class="parameter-section" id="privacy-parameters">
  <header class="section-header">
    <h6>Privacy parameters</h6>
  </header>
  <div>
    <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="epsilon" class="input-group-text">Epsilon</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="epsilon"
            min="0"
            max="100"
            step="1"
            placeholder="0"
            required
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="100"
        step="1"
        id="epsilon-range"
        value="0"
      />
    </div>
  </div>
</section>
<section class="parameter-section" id="learning-parameters">
  <header class="section-header">
    <h6>Learning Hyperparameters</h6>
  </header>
  <div>
    <div class="form-row my-4 justify-content-around">
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="lambda" class="input-group-text">Lambda</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="lambda"
            required
            placeholder="0"
            required
          />
        </div>
      </div>
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="degree" class="input-group-text">Degree</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="degree"
            required
            placeholder="0"
          />
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="epochs" class="input-group-text">Epochs</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="epochs"
            required
            placeholder="0"
          />
        </div>
      </div>
      <div class="col-auto my-3">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="alpha" class="input-group-text">Alpha</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="alpha"
            required
            placeholder="0"
          />
        </div>
      </div>
    </div>
    <!-- <div class="form-row align-items-center my-3">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="split" class="input-group-text">Split Ratio</label>
          </div>
          <input
            type="number"
            class="form-control range-value"
            id="split"
            min="0"
            max="1"
            placeholder="0"
            step="0.05"
          />
        </div>
      </div>
      <input
        type="range"
        class="custom-range col"
        min="0"
        max="1"
        step="0.05"
        id="split-range"
        value="0"
      />
    </div> -->
  </div>
</section>
{% endblock %} {% block analysisScript %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script type="text/javascript">
  // $(document).load(MathJax.typeset());
  function latex(a) {}
  let promise = Promise.resolve(); // Used to hold chain of typesetting calls

  function typeset(code) {
    promise = promise
      .then(() => {
        code();
        console.log(code());
        return MathJax.typesetPromise();
      })
      .catch(err => console.log("Typeset failed: " + err.message));
    return promise;
  }
  function Analysis3() {
    if ($(".upload-form")[0].checkValidity() === false) {
      $(".upload-form").addClass("was-validated");
      return;
    }
    var xhttp = new XMLHttpRequest();
    var e = document.getElementById("epsilon").value;
    var lambda = document.getElementById("lambda").value;
    var degree = document.getElementById("degree").value;
    var epochs = document.getElementById("epochs").value;
    var alpha = document.getElementById("alpha").value;
    // var split = document.getElementById("split").value;

    $(".data-graph")
      .addClass("visual-loading")
      .removeClass("visual-available process-error");
    $("#Analyze-Button")
      .prop("disabled", true)
      .addClass("disabled");
    $("label[for='display-visual']").click();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText);
        result = JSON.parse(this.responseText);
        if (result["error"]) {
          $(".graph-container").css(
            "background-image",
            "url('/static/images/404.png')"
          );

          $(".data-graph").addClass("process-error");
          $(".graph-pre-caption .error-caption").text(
            "Oops! " + result["text"]
          );
        } else {
          typeset(() => {
            a = result["theta"];
            t = "$$Weights=\\left[\\begin{array}{cc} ";
            $.each(a, function(index, value) {
              t += value + " \\\\ ";
            });
            console.log(t);
            // t = t.substring(1, -2);
            t += "\\end{array}\\right]$$";
            const math = document.querySelector(".weights");
            math.innerHTML = t;
            console.log(a);
            return math;
          });
          $(".weights").show();
          $(".displays.tab-select").css("display", "flex");
          $("#data-histogram")
            .attr("src", result["image"])
            .show();
          $(".data-graph").addClass("visual-available");
        }
        $(".data-graph").removeClass("visual-loading");
        $("#Analyze-Button")
          .prop("disabled", false)
          .removeClass("disabled");
      }
    };
    xhttp.open(
      "GET",
      "/dpml_process?e=" +
        e +
        "&lambda=" +
        lambda +
        "&degree=" +
        degree +
        "&epochs=" +
        epochs +
        // "&split=" +
        // split +
        "&alpha=" +
        alpha,
      true
    );
    xhttp.send();
  }
</script>
{% endblock %}
