{% extends 'base.html' %}
{% block content %}
	<h3>Hi {{ current_user.username }}!</h3>
	<div class="row mt-4 text-center">
		<div class="col-6 text-left" id="features">
			<h1>Features</h1>
			<ul>
				<h3><li>Differentialy Private Data Analysis</li>
				<li>DP Visulaisation</li>
				<li>Machine Learning Regression</li>
				<li>Privacy Preserving Dataset Generation</li></h3>
			</ul>
		</div>
		<div class="col-1"></div>
		<div class="col-4" id="choice">
			<br><br><br>
			<a href="upload" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>DP Visualisation</h1></a>
			<br><br><br>
			<a href="dpml" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>DPML</h1></a></button>
			<br><br><br>
			<a href="query" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>Query Dataset</h1></a></button>
			<a href="federatedML" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>Federated ML</h1></a></button>
		</div>
    </div>
</body>
</html>

{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="/static/js/home_script.js?bsigiggfiu"
></script>
<script type="text/javascript" src="/static/js/login_script.js?bhb"></script>
{% endblock %}