<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/home_form_style.css">
		<title>Welcome</title>
	</head>
<body background="/static/images/background.jpg">
		
	<nav id="navbar-example2" class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">DIFFPRIV.COM</a>
		  <ul class="nav justify">
		  <li class="nav-item">
		    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="login.html">Login</a>
		  </li>
		</ul>	
	</nav>
	<div class="row mt-4 text-center">
		<div class="col-6 text-left" id="features">
			<h1>Features</h1>
			<ul>
				<h3><li>Differentialy Private Data Analysis</li>
				<li>DP Visulaisation</li>
				<li>Machine Learning Regression</li>
				<li>Some other feature</li></h3>
			</ul>
		</div>
		<div class="col-1"></div>
		<div class="col-4" id="choice">
			<br><br><br><br>
			<a href="upload" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>DP Visualisation</h1></a>
			<br><br><br><br>
			<a href="dpml" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"><h1>DPML</h1></a></button>
			<br>
		</div>
        
</body>
</html>