{% extends 'base.html' %}
{% block title %}Machine Learning made Secure{% endblock %}
{% block content %}
<section class="choose-task">
		<header class="section-header pt-5 pb-4">
		  <h2 class="bottom-border">Select a task</h2>
		</header>
	<div class="container">
		<div class="row justify-content-around align-items-center task-options">
			<div class="col-12 col-sm-8 col-md-5 col-lg-4 py-3">
				<a href="upload">
				<div class="single-feature text-center">
				  <div class="feature-icon">
					<img src="/static/images/visualization.png" />
				  </div>
				  <div class="feature-content">
					<h4>Differential Privacy Visualization</h4>
					<p>
					  Some quick example text to build on the card title and make up the
					  bulk of the card's content.
					</p>
				  </div>
				</div>
				</a>
			</div>
			<div class="col-12 col-sm-8 col-md-5 col-lg-4 py-3">
				<a href="dpml">
				<div class="single-feature text-center">
				  <div class="feature-icon">
					<img src="/static/images/machine_learning.png" />
				  </div>
				  <div class="feature-content">
					<h4>Differentially Private Machine Learning</h4>
					<p>
					  Some quick example text to build on the card title and make up the
					  bulk of the card's content.
					</p>
				  </div>
				</div>
				</a>
			</div>
		</div>
	</div>
</section>
</body>
</html>

{% endblock %}