<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/home_form_style.css">
		<title>Welcome</title>
	</head>
<body background="/static/images/background.jpg">
		
	<nav id="navbar-example2" class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">PRIVAZ</a>
		  <ul class="nav justify">
		  <li class="nav-item">
		    <a class="nav-link" href="home" tabindex="-1">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="login">Login</a>
		  </li>
		</ul>	
	</nav>
	<div class="row mt-4 text-center">
		<div class="col-6 text-left" id="features">
			<h1>Features</h1>
			<ul>
				<h3><li>Differentialy Private Data Analysis</li>
				<li>DP Visulaisation</li>
				<li>Machine Learning Regression</li>
				<li>Some other feature</li></h3>
			</ul>
		</div>
		<div class="col-1"></div>
		<div class="col-4" id="forms">
				<div class="form-group">
					<label for="name">Username</label>
					<input type="text" name="name" class="form-control" placeholder="Your Name" id="name">
				</div>
				<div class="form-group">
					<label for="pass1">Password</label>
					<input type="password" name="password" class="form-control" placeholder="Password" id="pass">
				</div>
				<div align="left">
					<input type="checkbox" class="form-check-input" id="checkpoint" value="1">
					<label class="form-check-label" for="checkpoint" value="" ><small>Remember Me </small></label>
				</div>
				<div class="form-group form-check">
					<small>Login<a href="#"> using Google</a></small>.
				</div>
				<button class="btn btn-primary" id="LoginButton"> Login </button>

		</div>
<script type="text/javascript" src="/static/js/login_script.js?bhb"></script>
    
</body>
</html>