{% extends 'form.html' %} {% block formTitle %} DP Visualization {% endblock %}
{% block formFields %}
<section class="parameter-section" id="measure-type">
  <header class="section-header">
    <h6>Select Measure</h6>
  </header>
  <div class="d-flex justify-content-center measures tab-select">
    <label class="btn btn-outline" for="measure-mean" data-control="mean"
      >Mean</label
    >
    <label class="btn btn-outline" for="measure-median" data-control="median"
      >Median</label
    >
    <div class="d-none tab-radios">
      <input
        type="radio"
        class="tab-radio"
        value="mean"
        id="measure-mean"
        name="measure"
        required
      />
      <input
        type="radio"
        value="median"
        id="measure-median"
        name="measure"
        class="tab-radio"
        required
      />
    </div>
  </div>
</section>
<section class="parameter-section" id="function-type" data-hide="median">
  <header class="section-header">
    <h6>Select Mechanism</h6>
  </header>
  <div class="d-flex justify-content-center functions tab-select">
    <label class="btn btn-outline" for="function-laplace" data-control="laplace"
      >Laplace</label
    >
    <label
      class="btn btn-outline"
      for="function-boundedLaplace"
      data-control="boundedLaplace"
      >Bounded Laplace</label
    >
    <label
      class="btn btn-outline"
      for="function-staircase"
      data-control="staircase"
      >Staircase</label
    >
    <label
      class="btn btn-outline"
      for="function-gaussian"
      data-control="gaussian"
      >Gaussian</label
    >
    <div class="d-none tab-radios">
      <input
        type="radio"
        class="tab-radio"
        value="laplace"
        id="function-laplace"
        name="function"
        required
      />
      <input
        type="radio"
        class="tab-radio"
        value="boundedLaplace"
        id="function-boundedLaplace"
        name="function"
        required
      />
      <input
        type="radio"
        value="staircase"
        id="function-staircase"
        name="function"
        class="tab-radio"
        required
      />
      <input
        type="radio"
        value="gaussian"
        id="function-gaussian"
        name="function"
        class="tab-radio"
        required
      />
    </div>
  </div>
  <div class="invalid-feedback">Please select a regression mechanism.</div>
</section>
<section class="parameter-section" id="greek-parameters">
  <header class="section-header">
    <h6>Parameters</h6>
  </header>
  <div class="row align-items-center justify-content-around">
    <div class="col-auto my-3" data-hide="">
      <div class="input-group parameter-input">
        <div class="input-group-prepend">
          <label for="epsilon" class="input-group-text">Epsilon</label>
        </div>
        <input
          type="number"
          class="form-control"
          id="epsilon"
          name="Epsilon"
          min="0"
          max="100"
          placeholder="0"
          step="0.001"
          data-inclusive-min="False"
          required
          data-toggle="tooltip"
          data-trigger="manual"
          data-placement="top"
          data-title="Epsilon cannot be 0!"
        />
      </div>
    </div>
    <div class="col-auto my-3" data-hide="laplace staircase median">
      <div class="input-group parameter-input">
        <div class="input-group-prepend">
          <label for="delta" class="input-group-text">Delta</label>
        </div>
        <input
          type="number"
          class="form-control"
          id="delta"
          name="Delta"
          min="0"
          max="10"
          data-order-magnitude="-4"
          placeholder="0"
          step="0.1"
          style="border-right: none;"
          data-inclusive-min="False"
          reqiured
          data-toggle="tooltip"
          data-trigger="manual"
          data-placement="top"
          data-title="Delta cannot be 0!"
        />
        <div class="input-group-append">&times;10<sup>-4</sup></div>
      </div>
    </div>
    <div
      class="col-auto my-3"
      data-hide="laplace boundedLaplace gaussian median"
    >
      <div class="input-group parameter-input">
        <div class="input-group-prepend">
          <label for="gamma" class="input-group-text">Gamma</label>
        </div>
        <input
          type="number"
          class="form-control"
          id="gamma"
          name="Gamma"
          min="0"
          max="1"
          placeholder="0"
          step="0.01"
          required
        />
      </div>
    </div>
  </div>
</section>
<section class="parameter-section" id="field-type">
  <header class="section-header">
    <h6>SeLect Field</h6>
  </header>
  <div>
    <div
      class="d-flex justify-content-center fields flex-wrap tab-select"
      data-childType="radio"
      data-type="x"
    ></div>
  </div>
</section>
<section class="parameter-section" id="global-sensitivity">
  <header class="section-header">
    <h6>Global Sensitivity</h6>
  </header>
  <div>
    <div class="form-row my-4 justify-content-around">
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="low" class="input-group-text">Low</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="low"
            name="Lower bound"
            required
            placeholder="0"
          />
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group parameter-input">
          <div class="input-group-prepend">
            <label for="high" class="input-group-text">High</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="high"
            name="Upper bound"
            required
            placeholder="100"
          />
        </div>
      </div>
    </div>
  </div>
  <footer
    class="sensitivity-error text-danger small text-center"
    style="display: none; font-style: italic;"
  >
    High must be greater than low!
  </footer>
</section>
{% endblock %} {% block analysisScript %}
<script type="text/javascript">
  function Analysis() {
    var xhttp = new XMLHttpRequest();
    var e = document.getElementById("epsilon").value;
    var d = document.getElementById("delta").value;
    var selection = document.getElementById("selector").value;
    var measure = document.getElementById("measure-selector").value;

    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("figure-address").src = this.responseText;
      }
    };
    xhttp.open(
      "GET",
      "/process?e=" +
        e +
        "&d=" +
        d +
        "&selection=" +
        selection +
        "&measure=" +
        measure,
      true
    );
    xhttp.send();
  }
</script>
<script type="text/javascript">
  function Analysis3() {
    // if ($(".upload-form")[0].checkValidity() === false) {
    //   $(".upload-form").addClass("was-validated");
    //   return;
    // }
    if (!form_validity($(".upload-form"))) {
      // $(".upload-form").addClass("was-validated");
      return;
    }
    var xhttp = new XMLHttpRequest();
    var e = document.getElementById("epsilon").value;
    var d =
      document.getElementById("delta").value *
      10 ** parseInt($("#delta").attr("data-order-magnitude"));
    var g = document.getElementById("gamma").value;
    var mechanism = $("input[name='function']:checked").val();
    var selection = $("input[name='field-x']:checked").val();
    var measure = $("input[name='measure']:checked").val();
    var low = document.getElementById("low").value;
    var high = document.getElementById("high").value;
    if (high < low) {
      $(".sensitivity-error").show();
      return;
    }
    $(".data-graph")
      .addClass("visual-loading")
      .removeClass("visual-available process-error");
    $("#Analyze-Button")
      .prop("disabled", true)
      .addClass("disabled");
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        result = JSON.parse(this.responseText);
        if (result["error"]) {
          $(".data-graph").addClass("process-error");
          $(".graph-pre-caption .error-caption").text(
            "Oops! " + result["text"]
          );
        } else {
          $("#data-histogram")
            .attr("src", result["image"])
            .show();
          $(".data-graph").addClass("visual-available");
        }
        $(".data-graph").removeClass("visual-loading");
        $("#Analyze-Button")
          .prop("disabled", false)
          .removeClass("disabled");
      }
    };
    xhttp.open(
      "GET",
      "/process?e=" +
        e +
        "&d=" +
        d +
        "&gamma=" +
        g +
        "&mechanism=" +
        mechanism +
        "&selection=" +
        selection +
        "&measure=" +
        measure +
        "&high=" +
        high +
        "&low=" +
        low,
      true
    );
    xhttp.send();
  }
</script>
{% endblock %}
